.BG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(238, 130, 7, 0.466);
}

.paintBG {
    background-repeat: no-repeat;
    background-size: cover;
    width: 576px;
    height: 432px;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.TLT_BG{
    display: flex;
    background-image: url('../img/TLT_BG.webp') ;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Margin{
    margin-bottom: 20px;
    margin-top: 20px;
}
.cornerLogo {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 100px;
    height: 100px;
}
